* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-family: "Helvetica", sans-serif;
    background-color: #f0f2f5;
}

/* Contenido */
section {
    /* height: 690px; */
    /* height: 100vh; */
    height: auto;
    width: 100%;
    border-radius: 15px;
    background-color: #f0f2f5;
}

section div.formulario {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 35px;
    /* background-color: #f0f2f5; */
}

/* Formulario */
section div.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    min-height: 940px;
    max-height: 990px;
    padding: 50px;
    border: 1px solid #0e87fd;
    border-radius: 15px;
    box-shadow: 0 0 20px #0e17223d;
    background: #ffffff;
}

section div.formulario form h2 {
    text-align: center; 
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section div.formulario form label.labform {
    font-size: 17px;
    margin: 10px 0 10px 0; 
}

section div.formulario form input {
    font-size: 17px;
    color: #0e78ff;
    padding: 13px 10px;
    outline: none;
    border: 1px solid #0e87fd;
    border-radius: 30px;
    transition: all .3s;
}

section div.formulario form input:focus {
    box-shadow: 0 0 5px #0e87fd;
}

section div.formulario form input[readonly]:hover {
    cursor: not-allowed;
    background-color: #f0f2f5;
}

section div.formulario form input::placeholder {
    font-size: 17px;
    color: #0e78ff;
}

section div.formulario form textarea::placeholder {
    font-size: 17px;
    color: #0e78ff;
}

section div.formulario form select {
    font-size: 17px;
    color: #0e78ff;
    border-radius: 30px;
    border: 1px solid #0e87fd;
    padding: 12.5px 10px;
    outline: none;
    transition: all .3s;
}

section div.formulario form select:focus {
    box-shadow: 0 0 5px #0e87fd;
}

section div.formulario form input#fyh_cit_med {
    font-family: "Helvetica", sans-serif;
    padding: 11px 10px;
    cursor: text;
}

section div.formulario form input#fyh_cit_med::-webkit-calendar-picker-indicator {
    font-size: 16px;
    padding: 4px;
    background-color: #0e87fd;
    border-radius: 30px;
    color-scheme: dark;
    cursor: pointer;
    transition: all .3s;
}

section div.formulario form input#fyh_cit_med::-webkit-calendar-picker-indicator:hover {
    background-color: #0e78ff;
}

section div.formulario form input#fyh_cit_med::-webkit-calendar-picker-indicator:active {
    transition: scale 0.2s ease;
    scale: 0.90;
}

section div.formulario form textarea#mot_cit_med {
    font-family: "Helvetica", sans-serif;
    min-height: 48px;
    max-height: 100px;
    font-size: 17px;
    color: #0e78ff;
    border: 1px solid #0e87fd;
    border-radius: 23px;
    padding: 13px 10px;
    resize: vertical;
    outline: none;
    transition: all .3s;
}

section div.formulario form textarea#mot_cit_med:focus {
    box-shadow: 0 0 5px #0e87fd;
}

/* Botón agendar cita medica */
section div.formulario form input.add_med_appbtn {
    background-color: #0e87fd;
    padding: 17px 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .3s;
}

section div.formulario form input.add_med_appbtn:hover {
    background-color: #0e78ff;
}

section div.formulario form input.add_med_appbtn:active {
    transition: scale 0.2s ease;
    scale: 0.97;
}

/* Nav bar */
nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffffff;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 20px #0e17223d;
    z-index: 1000;
}

/* CEO */
nav a.ceo {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

nav a.ceo img.logohealthby {
    height: 40px;
}

nav a.ceo img.tituhealthby {
    height: 25px;
    margin-top: 6px;
} 

/* Menu horizontal */
nav ul.men_hor {
    float: right;
    margin-right: 40px;
}

nav ul.men_hor li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul.men_hor li a {
    font-size: 14px;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    /* text-transform: uppercase; */
    transition: all .3s ease;
}

nav ul.men_hor li a.active, 
nav ul.men_hor li a:hover {
    background: #f0f2f5;
}

nav ul.men_hor li a i#menu {
    transition: all .2s; 
}

nav ul.men_hor li a:hover > i#menu {
    transform: translateY(2px);
}

/* Sing off */
nav ul.men_hor li a.signoff {
    border: 1px solid #0086FF ;
    color: #0086FF;
    transition: all .3s;
}

nav ul.men_hor li a.signoff:hover {
    background: #FF787D;
    border: 1px solid #FF787D ;
    color: white;
}

/* Profile */
nav ul.men_hor li a.profile {
    background: linear-gradient(90deg, #0086FF, #FF787D);
    padding: 8px 11px;
    color: white;
    transition: all .3s ease;
}

nav ul.men_hor li a.profile:hover {
    opacity: 80%;
}

/* Animación botón Signoff */
nav ul.men_hor li.animationscl {
    transition: scale 0.2s ease;
}

nav ul.men_hor li.animationscl:hover {
    /* opacity: 85%; */
    scale: 1.1;
}

nav ul.men_hor li.animationscl:active {
    scale: 0.95;
}

/* Menu vertical */
@keyframes  opacidadTrs {
    from {
    opacity: 0; 
    }
    to {
    opacity: 1;
    }
}

nav ul.men_hor li ul.men_ver {
    background: white;
    border: 1px solid #0e87fd;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0px #0e17223d;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
    align-items: center;
    margin: 0;
    animation: opacidadTrs .2s ease-in-out;
}

nav ul.men_hor li ul.men_ver li a:hover { 
    background: #f0f2f5;
}

nav ul.men_hor li ul.men_ver li:not(:last-child) {
    border-bottom: 1px solid #0e87fd;
}

nav ul.men_hor li ul.men_ver li.dif_men {
    border-bottom: 1px solid #FF787D;
}

nav ul.men_hor li:hover > ul.men_ver {
    display: flex;
}

/* Menu desplegable / hamburguesa */
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    transition: all .3s ease;
}

#check:checked ~ .checkbtn {
    rotate: 270deg;
}

#check {
    display: none;
}

/* Renponsive */
@media (max-width: 1200px) {

    nav a.ceo {
        padding-left: 20px;
    }

    nav ul.men_hor {
        margin-right: 20px;
    }

    nav ul.men_hor li a {
        font-size: 12px;
    }
}

@media (max-width: 1100px) {

    .checkbtn {
        display: block;
    }

    nav ul.men_hor {
        position: fixed;
        width: 100%;
        height: calc(100vh - 60px);
        margin: 0;
        background: #f0f2f5;
        top: 60px;
        left: -100%;
        text-align: center;
        overflow:auto;
        scrollbar-width: none;
        transition: all .3s;
    }

    #check:checked ~ ul.men_hor {
        left: 0;
    }

    nav ul.men_hor li {
        display: block;
        margin: 15px 0px;
    }

    nav ul.men_hor li a {
        font-size: 20px;
    }

    nav ul.men_hor li ul.men_ver li a {
        color: white;
        background: #FF787D;
    }

    nav ul.men_hor li a.active, 
    nav ul.men_hor li ul.men_ver li a.active,
    nav ul.men_hor li a:hover:not(.profile, .signoff),
    nav ul.men_hor li ul.men_ver li a:hover {
        background: #0086FF ; 
        color: white ;
    }

    nav ul.men_hor li:hover > ul.men_ver {
        display: none;
        box-shadow: none;
    }

    nav ul.men_hor li:focus-within > ul.men_ver {
        display: contents;
    }

    nav ul.men_hor li ul.men_ver li:not(:last-child) {
        border-bottom: none;
    }

    nav ul.men_ver li a {
        animation: opacidadTrs .3s ease-in-out; 
    }

    nav ul.men_hor li a:hover > i#menu {
        transform: translateY(0);
        rotate: 90deg;
    }
}

@media (max-width: 900px) {

    section {
        height: 1015px;
    }
    
    section div.formulario form {
        min-height: 910px;
        max-height: 960px;
        width: 400px;
        padding: 45px;
    }

    section div.formulario form h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    section div.formulario form label.labform {
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    
    section div.formulario form input {
        font-size: 15px;
        padding: 13px 10px;
    }

    section div.formulario form input#fyh_cit_med {
        padding: 12px 10px;
    }

    section div.formulario form input#fyh_cit_med::-webkit-calendar-picker-indicator {
        font-size: 11px;
        padding: 4px;
    }

    section div.formulario form textarea#mot_cit_med {
        font-size: 15px;
        min-height: 45px;
        max-height: 97px;
        padding: 13px 10px;
    }

    section div.formulario form select {
        font-size: 15px;
        padding: 12px 10px;
    }

    section div.formulario form input.add_med_appbtn {
        font-size: 18px;
        padding: 17px 10px;
    }
}

@media (max-width: 600px) {

    section {
        height: 892px;
    }

    /* Formulario */
    section div.formulario form {
        min-height: 785px;
        max-height: 840px;
        width: 300px;
        padding: 40px; 
    }

    section div.formulario form h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    section div.formulario form label.labform {
        font-size: 13px;
    }
    
    section div.formulario form input {
        font-size: 13px;
        padding: 10px 10px;
    }

    section div.formulario form input#fyh_cit_med {
        padding: 8px 10px;
    }

    section div.formulario form textarea#mot_cit_med {
        font-size: 13px;
        min-height: 37px;
        max-height: 89px;
        padding: 10px 10px;
    }
    
    section div.formulario form select {
        font-size: 13px;
        padding: 9px 10px;
    }
    
    section div.formulario form input.add_med_appbtn {
        font-size: 16px;
        padding: 12px 10px;
        margin-top: 15px;
    }
}