<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthBy - Agendar citas médicas</title>
    <link rel="icon" href="../../icon/HealthBy Logo.ico" />
    <link rel="stylesheet" href="../../css/add_med_app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="../home" class="ceo">
            <img class="logohealthby" src="../../icon/HealthBy Logo.ico" alt="HealthBy">
            <img class="tituhealthby" src="../../img/Tit_HealthBy.png" alt="HealthBy">
        </a>

        <ul class="men_hor">
            <li><a href="../home">Inicio</a></li>
            <li><a href="#municipios">Municipios <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../municipalities/add_municipality">Añadir</a></li>
                    <li><a href="../municipalities/mod_municipality">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#sedes">Sedes <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../headquarters/add_headquarters">Añadir</a></li>
                    <li><a href="../headquarters/mod_headquarters">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#trabajadores">Trabajadores <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../workers/add_worker">Añadir</a></li>
                    <li class="dif_men"><a href="../workers/mod_worker">Modificar</a></li>
                    <li><a href="../laboral_category_workers/add_lab_cat">Añd. Cat. Lab.</a></li>
                    <li class="dif_men"><a href="../laboral_category_workers/mod_lab_cat">Mod. Cat. Lab.</a></li>
                    <li><a href="../speciality_workers/add_spe_work">Añd. Espec.</a></li>
                    <li><a href="../speciality_workers/mod_spe_work">Mod. Espec.</a></li>
                </ul>
            </li>
            <li><a href="#pacientes">Pacientes <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../patients/add_patient">Añadir</a></li>
                    <li><a href="../patients/mod_patient">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#citasmedicas" class="active">Citas Médicas <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a class="active" href="../medical_appoint/add_med_app">Añadir</a></li>
                    <li><a href="../medical_appoint/mod_med_app">Modificar</a></li>
                </ul>
            </li>
            <li><a class="profile" href="#mi perfil">Mi perfil <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../account/edit_data">Modificar datos</a></li>
                    <li><a href="../account/mod_password">Cambiar contraseña</a></li>
                </ul>
            </li>
            <li class="animationscl"><a class="signoff" href="../login">Cerrar sesión</a></li>
        </ul>
    </nav>

    <section>
        <div class="formulario">
            <form action="/save_citas_medicas" method="post">
                <h2>Agendar Cita Médica</h2>

                <!-- Info de la Cita medica -->

                <label class="labform" for="cod_cit_med"> Código de la Cita médica </label>
                    <input type="number" id="cod_cit_med" name="cod_cit_med" readonly>
                    
                <label class="labform" for="esp_cit_med"> Especialista que atenderá </label>
                    <select id="esp_cit_med" name="esp_cit_med">
                        <option value=""> Selecciona una opción </option>
                        <option value=""> Dr. Alejandro Sánchez </option>
                        <option value=""> Dra. Laura Rodríguez </option>
                        <option value=""> Dr. Carlos Medina </option>
                    </select>

                <label class="labform" for="fyh_cit_med"> Fecha y hora de la cita médica</label>
                    <input type="datetime-local" id="fyh_cit_med" name="fyh_cit_med">

                <label class="labform" for="mot_cit_med"> Motivo de la cita médica </label>
                    <textarea name="" id="mot_cit_med" name="mot_cit_med"></textarea>
                
            <!-- Info del paciente -->

                <label class="labform" for="nom_pac_cit_med">Nombre del paciente</label>
                    <input type="text" id="nom_pac_cit_med" name="nom_pac_cit_med">

                <label class="labform" for="num_doc_pac"> Número de documento del paciente</label>
                    <input type="text" id="fk_num_doc_pac" name="fk_num_doc_pac">

                <label class="labform" for="tel_cit_med">Número de teléfono del paciente</label>
                    <input type="number" id="tel_cit_med" name="tel_cit_med">

                <label class="labform" for="cor_ele_cit_med">Correo electrónico del paciente</label>
                    <input type="email" id="cor_ele_cit_med" name="cor_ele_cit_med">

                    <!-- Botón Original -->
                <input type="submit" value="Agendar cita médica" class="add_med_appbtn">

                    <!-- Botón Remplazo -->
                <!-- <a href="" class="add_med_app">Agendar cita médica</a> -->
            </form>
        </div>
    </section>
  </body>
</html>
