<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthBy - Modificar trabajador</title>
    <link rel="icon" href="../../icon/HealthBy Logo.ico" />
    <link rel="stylesheet" href="../../css/mod_worker.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="../home" class="ceo">
            <img class="logohealthby" src="../../icon/HealthBy Logo.ico" alt="HealthBy">
            <img class="tituhealthby" src="../../img/Tit_HealthBy.png" alt="HealthBy">
        </a>

        <ul class="men_hor">
            <li><a href="../home">Inicio</a></li>
            <li><a href="#municipios">Municipios <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../municipalities/add_municipality">Añadir</a></li>
                    <li><a href="../municipalities/mod_municipality">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#sedes">Sedes <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../headquarters/add_headquarters">Añadir</a></li>
                    <li><a href="../headquarters/mod_headquarters">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#trabajadores" class="active">Trabajadores <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../workers/add_worker">Añadir</a></li>
                    <li class="dif_men"><a class="active" href="../workers/mod_worker">Modificar</a></li>
                    <li><a href="../laboral_category_workers/add_lab_cat">Añd. Cat. Lab.</a></li>
                    <li class="dif_men"><a href="../laboral_category_workers/mod_lab_cat">Mod. Cat. Lab.</a></li>
                    <li><a href="../specialty_workers/add_spe_work">Añd. Espec.</a></li>
                    <li><a href="../specialty_workers/mod_spe_work">Mod. Espec.</a></li>
                </ul>
            </li>
            <li><a href="#pacientes">Pacientes <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../patients/add_patient">Añadir</a></li>
                    <li><a href="../patients/mod_patient">Modificar</a></li>
                </ul>
            </li>
            <li><a href="#citasmedicas">Citas Médicas <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../medical_appoint/add_med_app">Añadir</a></li>
                    <li><a href="../medical_appoint/mod_med_app">Modificar</a></li>
                </ul>
            </li>
            <li><a class="profile" href="#mi perfil">Mi perfil <i id="menu" class="fa-solid fa-angle-down"></i></a>
                <ul class="men_ver">
                    <li><a href="../account/edit_data">Modificar datos</a></li>
                    <li><a href="../account/mod_password">Cambiar contraseña</a></li>
                </ul>
            </li>
            <li class="animationscl"><a class="signoff" href="../login">Cerrar sesión</a></li>
        </ul>
    </nav>

    <section>
        <div class="tabla">
            <table>
                <tr>
                    <th>Nomb. del Trabajador</th>
                    <th>Apell. del Trabajador</th>
                    <th>N° Doc. del Trabajador</th>
                    <th>Fec. Nac. del Trabajador</th>
                    <th>Gén. del Trabajador</th>
                    <th>Tel. del trabajador</th>
                    <th>Email del Trabajador</th>
                    <th>Vin. Lab. del Trabajador</th>
                    <th>Cód. Sede Correspondiente</th>
                    <th>Cód. Cat. Laboral Correspondiente</th>
                    <!-- <th></th> -->
                </tr>
                <tr>
                    <td>Laura</td><!-- Nomb. del Trabajador -->
                    <td>Gómez Martínez</td><!-- Apell. del Trabajador -->
                    <td>1018456798</td><!-- N° Doc. del Trabajador -->
                    <td>23/04/1987</td><!-- Fec. Nac. del Trabajador -->
                    <td>Femenino</td><!-- Gén. del Trabajador -->
                    <td>3145678901</td><!-- Tel. del trabajador -->
                    <td>laura.gomez@gmail.com</td><!-- Email del Trabajador -->
                    <td>15/08/2018</td><!-- Vin. Lab. del Trabajador -->
                    <td>S128</td><!-- Cód. Sede Correspondiente -->
                    <td>CL07</td><!-- Cód. Cat. Laboral Correspondiente -->
                    <td><a class="modifybtn" title="Editar información" href="edit_worker"><i class="fa-regular fa-pen-to-square"></i></a></td>
                </tr>
                <tr>
                    <td>Alejandro</td><!-- Nomb. del Trabajador -->
                    <td>Sánchez</td><!-- Apell. del Trabajador -->
                    <td>9856541564</td><!-- N° Doc. del Trabajador -->
                    <td>15/09/1973</td><!-- Fec. Nac. del Trabajador -->
                    <td>Masculino</td><!-- Gén. del Trabajador -->
                    <td>3214567898</td><!-- Tel. del trabajador -->
                    <td>alejandosanches1509@gmail.com</td><!-- Email del Trabajador -->
                    <td>03/03/2015</td><!-- Vin. Lab. del Trabajador -->
                    <td>S332</td><!-- Cód. Sede Correspondiente -->
                    <td>CL10</td><!-- Cód. Cat. Laboral Correspondiente -->
                    <td><a class="modifybtn" title="Editar información" href="edit_worker"><i class="fa-regular fa-pen-to-square"></i></a></td>
                </tr>
                <tr class="">
                    <td>Laura Andrea</td><!-- Nomb. del Trabajador -->
                    <td>Rodríguez</td><!-- Apell. del Trabajador -->
                    <td>1020304050</td><!-- N° Doc. del Trabajador -->
                    <td>29/02/1984</td><!-- Fec. Nac. del Trabajador -->
                    <td>Femenino</td><!-- Gén. del Trabajador -->
                    <td>3215678921</td><!-- Tel. del trabajador -->
                    <td>lauanrodriguez@gmail.com</td><!-- Email del Trabajador -->
                    <td>12/08/2020</td><!-- Vin. Lab. del Trabajador -->
                    <td>S446</td><!-- Cód. Sede Correspondiente -->
                    <td>CL10</td><!-- Cód. Cat. Laboral Correspondiente -->
                    <td><a class="modifybtn" title="Editar información" href="edit_worker"><i class="fa-regular fa-pen-to-square"></i></a></td>
                </tr>
                <tr>
                    <td>Juan Carlos</td><!-- Nomb. del Trabajador -->
                    <td>Medina</td><!-- Apell. del Trabajador -->
                    <td>1098465432</td><!-- N° Doc. del Trabajador -->
                    <td>15/05/1975</td><!-- Fec. Nac. del Trabajador -->
                    <td>Masculino</td><!-- Gén. del Trabajador -->
                    <td>3025554980</td><!-- Tel. del trabajador -->
                    <td>juancamedina@gmail.com</td><!-- Email del Trabajador -->
                    <td>20/10/2015</td><!-- Vin. Lab. del Trabajador -->
                    <td>S337</td><!-- Cód. Sede Correspondiente -->
                    <td>CL10</td><!-- Cód. Cat. Laboral Correspondiente -->
                    <td><a class="modifybtn" title="Editar información" href="edit_worker"><i class="fa-regular fa-pen-to-square"></i></a></td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>