<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthBy - Inicia sesión o regístrate</title>
    <link rel="icon" href="../icon/HealthBy Logo.ico" />
    <link rel="stylesheet" href="../css/login.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
</head>
<body>
<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <a href="../index.ejs" class="ceo">
            <img class="logohealthby" src="../icon/HealthBy Logo.ico" alt="HealthBy">
            <img class="tituhealthby" src="../img/Tit_HealthBy.png" alt="HealthBy">
        </a>

        <ul class="men_hor">
            <li class="animationscl"><a class="login" href="login.ejs">Iniciar sesión</a></li>
            <li class="animationscl"><a class="signup" href="register.ejs">Registrarse</a></li>
        </ul>
    </nav>

<section>
        <div class="formulario">
            <img
            src="../img/HealthBy_logo.png" class="image" alt="HealthBy" title="HealthBy"/>

            <form>
                <h2>Iniciar Sesión</h2>
                <label class="labform" for="email"> Correo electrónico </label>
                    <input type="email" name="cor_ele_pac" id="email" required />
                <label class="labform" for="password"> Contraseña </label>
                    <input type="password" name="cont_pac" id="password" required />

                <div class="remember">
                    <p>
                        <a href="recovery.ejs"> ¿Olvidaste tu contaseña? </a>
                    </p>
                </div>

                <!-- Botón Original -->
                <input type="submit" value="Iniciar sesión" class="loginbtn" formaction="home.ejs">

                <!-- Botón Remplazo -->
                <!-- <a href="home.ejs" class="loginbtn">Iniciar sesión</a> -->

                <div class="register">
                    <p class="r1">¿No tienes una cuenta?</p>
                    <p class="r2">
                        <a href="register.ejs"> Regístrate </a>
                    </p>
                </div>
            </form>
        </div>
</section>
</body>
</html>
